@page
@model CoreCrud.Pages.Destinations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Destination Details</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Destination[0].Destination_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination[0].Travel_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination[0].Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination[0].Travel_Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination[0].isAvailable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Destination)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.Country_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Travel_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Travel_Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isAvailable)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
